*{
    box-sizing: inherit;
}
body{
  margin:0;
  height: 100%;
  box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,h6
{
  font-family: 'Dancing Script', cursive ;
}

.background_image
{
  height:100%;
  width:100%;
  background-image:url('JackSparrow.jpeg');
  background-size:cover
}
.DuDuDu
{
  padding:8px 10px;
  position: fixed;
  display: flex;
  justify-content: center;
}
.home
{
   color: yellow;
   font-size: 25px;
   font-style: italic;
   text-decoration: none;
}
.menu
{
  color: yellow;
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
}
.about
{
  color: yellow;
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
}
.contact
{
  color: yellow;
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
}
.timing
{
  color: White;
  font-style: italic;
  padding:2px;
  margin:5px;
  background-color: seagreen;
  border-radius: 10px 10px 10px 10px;
  display: grid;
  justify-content: center;
}
.main
{
  display:flex;
  justify-content: center;
  font-size: 100px;
  color:red;
}
.center
{

  display:flex;
  justify-content: center;
  font-size: 50px;
}
.center1
{
  color:grey;
  display:flex;
  justify-content: center;
  text-align:center;
  font-size: 25px;
}
.center2
{
  display:flex;
  justify-content: center;
  text-align:center;
  font-size: 60px;
}
.center3
{
  display:flex;
  justify-content: center;
  text-align:center;
  font-size: 80px;
}
.last
{
  justify-content: center;
  display: flex;
  text-align: center;
  color:White;
  font-size: 25px;
  background-color: grey;
  text-decoration: none;
}
.heading
{
  display:flex;
  justify-content: center;
  text-align:center;
  font-size: 60px;
  padding:64px;
  background-color: black;
  color:White;
}
.edit
{
  text-align: center;
  border: 20px;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 20px;
  font-size: 20px;

}
<<<<<<< Updated upstream

/* ABOUT */
.About-container{                   /*About container*/
  background-color:lightgrey;
  width: 100%;
  height:30% ;
  margin: 0;
}
.about-head-main{              /* heading About */
  font-family: 'cursive','sans-serif';
  font-weight: bold;
=======
-/* ABOUT */
.About-container{                   /*About container*/
  background-color:lightgray;
  width: 100%;
  height: 30%;
  margin: 0;
}

.about-head-main{              /* heading About */
  font-family: 'cursive','sans-serif';
  font-size: 25px;
>>>>>>> Stashed changes
  text-align: center;
  color:rgb(219,107,36);
}
p{
  margin-left: 24px;
}
p.about-restaurant-history{
  margin: 0 auto;
<<<<<<< Updated upstream
  font-family: 'sans-serif','cursive';
=======
  font-family:'Dancing Script',' sans-serif','cursive';
>>>>>>> Stashed changes
  width: 85%;
  display: flex;
  align-items: center;
  text-align: center;
}
.chef-image{
  height: 80px;
<<<<<<< Updated upstream
  width:160px;
  float: right;
  border: 1px;
  border-radius: 50% 50%;
}
.restaurant-image img{
  width: 100%;
  height: 300px;
  align-items: center;
}
.restaurant-image{
  padding-top:24px;
  width: 100%;
}
.about-head{              /* heading Opening Hours */
   font-family: 'cursive','sans-serif';
   font-weight: bold;
=======
  width:120px;
  float: right;
  border: 1px;
  border-radius: 45% 45%;
}
 .restaurant-image{
   padding-top:24px;
 }
 .restaurant-image img{
   width: 100%;
   height: 400px;
 }
.about-head{              /* heading Opening Hours */
   font-family:'cursive','sans-serif';
>>>>>>> Stashed changes
   text-align: center;
   color: rgb(219,107,36);
  }
.about-timing-section{
  margin-left: 10px;
<<<<<<< Updated upstream
  display: flex;
  align-items: center;
  justify-content: center;
=======
  height: 70px;
>>>>>>> Stashed changes
}
 .about-half-left{
   width: 50%;
   float: left;
   text-align: center;
 }
 .about-half-right{
   width: 50%;
   float: right;
   text-align: center;
 }
 /* About End */
