*{
    box-sizing: inherit;
}
body{
  margin:0;
  height: 100%;
  box-sizing: border-box;
}
.background
{
  height:600px;
  background-image:url('JackSparrow.jpeg');
  background-size:cover;
}
.home
{
   color: White;
   font-size: 25px;
   font-style: italic;
}
.menu
{
  color: White;
  font-size: 25px;
  font-style: italic;
}
.about
{
  color: White;
  font-size: 25px;
  font-style: italic;
}
.contact
{
  color: White;
  font-size: 25px;
  font-style: italic;
}
.first_row
{
  color: White;
  font-style: italic;
  padding:2px;
  margin:5px;
}
.center
{

  display:flex;
  justify-content: center;
  font-size: 80px;
  font-family: 'Dancing Script', cursive;
}
.center1
{
  color:grey;
  display:flex;
  justify-content: center;
  text-align:center;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
}
.center2
{
  display:flex;
  justify-content: center;
  text-align:center;
  font-family: 'Dancing Script', cursive;
  font-size: 90px;
}
.center3
{
  display:flex;
  justify-content: center;
  text-align:center;
  font-size: 100px;
  font-family: 'Dancing Script', cursive;
}
.last
{
  color:white;
}
-/* ABOUT */
.About-container{                   /*About container*/
  background-color:lightgray;
  width: 100%;
  height: 30%;
  margin: 0;
}

.about-head-main{              /* heading About */
  font-family: cursive,sans-serif;
  font-size: 25px;
  text-align: center;
  color:rgb(219,107,36);
}
p{
  margin-left: 24px;
}
p.about-restaurant-history{
  margin: 0 auto;
  font-family: sans-serif,cursive;
  width: 85%;
  display: flex;
  align-items: center;
  text-align: center;
}
.chef-image{
  height: 80px;
  width:120px;
  float: right;
  border: 1px;
  border-radius: 45% 45%;
}
.restaurant-image{
  padding-top:24px;
}
 .restaurant-image img{
   width: 100%;
   height: 400px;
 }
.about-head{              /* heading Opening Hours */
   font-family: cursive,sans-serif;
   text-align: center;
   color: rgb(219,107,36);
  }
.about-timing-section{
  margin-left: 10px;
}
 .about-half-left{
   width: 50%;
   float: left;
   text-align: center;
 }
 .about-half-right{
   width: 50%;
   float: right;
   text-align: center;
 }
 /* About End */
