*{
    box-sizing: inherit;
}
body{
  margin:0;
  height: 100%;
  box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,h6
{
  font-family: 'Dancing Script', cursive ;
}

.background_image
{
  height:100%;
  width:100%;
  background-image:url('JackSparrow.jpeg');
  background-size:cover
}
.DuDuDu
{
  padding:8px 10px;
  position: fixed;
  display: flex;
  justify-content: center;
}
.home
{
   color: yellow;
   font-size: 25px;
   font-style: italic;
   text-decoration: none;
}
.menu
{
  color: yellow;
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
}
.about
{
  color: yellow;
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
}
.contact
{
  color: yellow;
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
}
.timing
{
  color: White;
  font-style: italic;
  padding:2px;
  margin:5px;
  background-color: seagreen;
  border-radius: 10px 10px 10px 10px;
  display: grid;
  justify-content: center;
}
.main
{
  display:flex;
  justify-content: center;
  font-size: 100px;
  color:red;
}
.center
{

  display:flex;
  justify-content: center;
  font-size: 50px;
  color:black;
}
.center1
{
  color:grey;
  display:flex;
  justify-content: center;
  text-align:center;
  font-size: 25px;
}
.center2
{
  color:black;
  display:flex;
  justify-content: center;
  text-align:center;
  font-size: 60px;
}
.center3
{
  color:black;
  display:flex;
  justify-content: center;
  text-align:center;
  font-size: 80px;
}
.last
{
  justify-content: center;
  display: flex;
  text-align: center;
  color:White;
  font-size: 25px;
  background-color: grey;
  text-decoration: none;
}
.Main1
{
  background-color: Black;
  padding:64px;
}
.heading
{
  display:flex;
  justify-content: center;
  text-align:center;
  font-size: 60px;
  background-color: black;
  color:White;
}
.edit
{
  text-align: center;
  border: 20px;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 20px;
  font-size: 20px;
  border:2px solid Grey;
}
.center_work
{
  color:white;
  padding:32px;
}
/* Pizza */
.work
{
  background-color: white;
  padding:32px;
}
.PP
{
   float:right;
   background-color: grey;
   color:white;
   border-radius: 10px 10px 10px 10px;
}
/* Pasta */
.work1
{
  display:flex;
  justify-content: center;
  text-align:center;
  padding:32px;
  color:White;
}
.pass
{
  background-color: white;
  padding:32px;
}
.PT
{
  float:right;
  background-color: grey;
  color:white;
  border-radius: 10px 10px 10px 10px;
}
/* starters */
.ST
{
    float:right;
    background-color: grey;
    color:white;
    border-radius: 10px 10px 10px 10px;
}
  /* ABOUT */
.About-container
{
  background-color:lightgray;
  width: 100%;
  height: 30%;
  margin: 0;
  padding: 64px;
}
.about-head-main
{
   /* heading About */
  font-family: 'cursive','sans-serif';
  text-align: center;
  font-size: 45px;
  color:rgb(219,107,36);
}
.about-chef-name{
  margin-left: 35px;
  padding-left: 45px;
  font-size: 18px;
}

p.about-restaurant-history{
  font-family:'Dancing Script',' sans-serif','cursive';
  width: 85%;
  font-size: 22px;
  text-align: center;
    margin-left: 30px;
    padding-left: 35px;
}
.chef-image{
  height: 100px;
  width:200px;
  float: right;
  border-radius: 50% 50%;
  margin-bottom: 20px;
}
.restaurant-image{
  padding-top:32px;
  width: 100%;
}
.about-head{              /* heading Opening Hours */
  font-family: 'cursive','sans-serif';
  font-size: 40px;
  font-weight: bold;
  padding-left:150px;
  color: rgb(219,107,36);
  text-align: center;
}
.about-timing-section{
  display: flex;
  align-items: center;
  justify-content: center;
}
 .about-half-left{
   width: 50%;
   float: left;
   text-align: center;
 }
 .about-half-right{
   width: 50%;
   float: right;
   text-align: center;
 }
 /* About End */

/* contact */
.contact-img{
  height:400px;
  width:100%;
  padding: 0;
}
.contact-container{
  padding-top: 32px;
  background-color: lightgray;
  padding: 64px;
}
.contact-heading{
  text-align: center;
  font-size: 35px;
}
.contactPara{
    font-family:'Dancing Script',' sans-serif','cursive';
    width: 85%;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}
.contact--form-border{
    padding: 10px;
    border:1px solid gray;
}
.contact--form-btn{
 background-color: #777;
 padding: 10px;
 color: white;
 border-radius:24px;
 cursor: pointer;
}
.contact-lastPara{
   text-align: left;
   font-size: 20px;
   padding: 32px;
}

/* contact */
